.main {
  margin: 2rem 2rem;
}

.description {
}

.messageCard {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.messageContent {
  display: flex;
  flex-direction: column;
}

.date {
  color: grey;
  margin-left: auto;
}

.avatar-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 16px;
  }
}